<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}{{ form.email() }}
        </div>
        <div>
            {{ form.password.label }}{{ form.password() }}
        </div>
        <div>
            {{ form.confirm.label }}{{ form.confirm() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <a href="{{ url_for('login') }}">Already have an account? Login here.</a>
</body>
</html>
